---
import Layout from '../layouts/Layout.astro'
import '@ripx/ui-basic-lib/dist/esm/index.css'
import { Button } from '@ripx/ui-basic-lib'
---

<Layout title='Welcome to Astro.'>
  <main style={{display: "flex", justifyContent: "center", padding: "4rem"}}>
    <div style={{display: "flex", flexDirection: "column", gap: "1rem", alignItems: "center"}}>


      <Button variant='contained'>Press</Button>
      <Button variant='contained' loading>Press</Button>
      <Button variant='contained' loading disabled>Press</Button>
      <Button variant='outlined'>Press</Button>
      <Button variant='outlined' loading>Press</Button>
      <Button variant='outlined' loading disabled>Press</Button>
      
    </div>
  </main>
</Layout>

<style>
  main {

  }
</style>